<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div>
        <form class="fac-container">
    
    <h1 class="he">
        student timetable
        
    </h1>
        
    
    
    <label>
      department
    </label>
    <select>
        <option>
            bsccs
            
        <option>
    bca
     </option>        
    </select><br>
    <label>
        hour
    </label>
    <select>
        <option>
            1 
        </option>
        <option>
            2
        </option>
    </select><br>
    <input type="submit"value="submit"class="btn">
        </form>
        </div>

</body>
</html>